@charset "utf-8";
/* CSS Document */

body {	
	/*font-family:Tahoma, Geneva, sans-serif;*/
	font-family: Arial, Helvetica, Sans-Serif;
    font-size: 13px;
	margin: 0 auto;
    padding: 0;
    background-color: #EEEFEE;
    background-image: url('../../theme/header/Bottom_texture.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: top left;
}
/*
ul
{
  list-style-type: none;
}
*/
ol
{
  list-style-position: inside;
}

img {
	border:0px;
}

p
{
	margin:0;
}

h3
{
  color: #B30B0E; 
  font-size: 18px;    
}

h4
{
	color: black;
	font-size : 16px;
	font-weight: bold;
	margin:0;
}

#error
{
	color:red;
}
#ok
{
	color:green;
}

#contenu_site {
  position: absolute;
  background-image: url('../../theme/header/Middle_texture.jpg');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: fixed;
  width:100%;
  min-height:100%;
  overflow:visible;
}

#main{
	position: relative;
    width: 100%;
    left: 0;
    top: 0;
    cursor:default;
}

#sheet
{
  position: relative;
  margin: 0 auto;
  min-width: 50px;
  min-height: 50px;
  cursor:auto;
  width: 80%;
  top: 30px !important;
  margin-bottom: 30px !important;
  border:1px solid gray;
  box-shadow: 1px 1px 20px #555;
  -moz-box-shadow: 1px 1px 20px #555;
  -webkit-box-shadow: 1px 1px 20px #555;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}


/* DEBUT HEADER */
#header {
	margin: 0 auto;
    position: relative;
    width: 100%;
    height: 170px;
    overflow: hidden;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}

div.header-center
{
	position: relative;
	width: 2880px;
	left:50%;
}


div.header-png
{
  position: absolute;
  left:-50%;
  top: 0;
  width: 2880px;
  height: 170px;
  background-image: url('../../theme/header/header.png');
  background-repeat: no-repeat;
  background-position:center center; 
}

div.header-jpeg
{
  position: absolute;
  top: 0;
  left:-50%;
  width: 2880px;
  height: 170px;
  background-image: url('../../theme/header/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

div.logo-image
{
  display: block;
  left: 1%;
  margin-left: -0;
  position: absolute;
  top: 33px;
  width: 120px;
  background-image: url('../../theme/header/fluid_object.png');
  background-repeat: no-repeat;
  background-position: center center;
  height: 95px;
}

div .connexion {
	background: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	width:250px;
	height:130px;
	float:right;
	margin:20px;
	font-size:11px;
	position:relative;
}

div.logo
{
  display: block;
  position: absolute;
  left: 0;
  margin-left: 11%;
  top: 56px;
}

h1.logo-name
{
  display: block;
  text-align: left;
}

h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h1.logo-name a:hover
{
  font-family: "Century Gothic",Arial, Helvetica, Sans-Serif;
  font-size: 36px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
}


h2.logo-text, 
h2.logo-text a,
h2.logo-text a:link,
h2.logo-text a:visited,
h2.logo-text a:hover
{
  font-size: 11px;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  color: #7EAEEC !important;
}

h2.logo-text
{
  display: block;
  text-align: left;
}
/* FIN HEADER */

/* DEBUT MENU */
.menu{
	position: relative;
	min-height: 34px;
	z-index: 100;
	font-size:14px;
}

.menu .l, .menu .r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background-image: url('../../theme/nav/fond_menu.png');
}

.menu .l
{
  left: 0;
  right: 0;
}

.menu .r
{
  right: 0;
  width: 1920px;
  clip: rect(auto, auto, auto, 1920px);
}

.menu .nav
{
  padding: 8px 4px 0 4px;
}

.nav a, .nav a:link, .nav a:visited, .nav a:hover
{
    outline: none;
}

.nav, .nav ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.nav li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.nav li:hover
{
  z-index: 10000;
  white-space: normal;
}

.nav li li
{
  float: none;
}

.nav ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: none;
}

.nav li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.nav li li:hover>ul
{
  top: 0;
  left: 100%;
}

.nav:after, .nav ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.nav, .nav ul
{
  min-height: 0;
}

.nav ul
{
  background-image: url('images/spacer.gif');
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.nav ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}
/* FIN MENU */

/* DEBUT ELEMENTS DU MENU */
.nav a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 26px;
  cursor: pointer;
  text-decoration: none;
}


.nav ul li
{
    margin:0;
    clear: both;
}


.nav a .r, .nav a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 88px;
  background-image: url('../../theme/nav/menuitem.png');
}

.nav a .l
{
  left: 0;
  right: 5px;
}

.nav a .r
{
  width: 410px;
  right: 0;
  clip: rect(auto, auto, auto, 405px);
}

.nav a .t
{
  color: #F4F3F5;
  padding: 0 8px;
  margin: 0 5px;
  line-height: 26px;
  text-align: center;
}

.nav a:hover .l, .nav a:hover .r
{
  top: -31px;
}

.nav li:hover>a .l, .nav li:hover>a .r
{
  top: -31px;
}

.nav li:hover a .l, .nav li:hover a .r
{
  top: -31px;
}
.nav a:hover .t
{
  color: #1F1F1F;
}

.nav li:hover a .t
{
  color: #1F1F1F;
}

.nav li:hover>a .t
{
  color: #1F1F1F;
}


.nav a.active .l, .nav a.active .r
{
  top: -62px;
}

.nav a.active .t
{
  color: #3D3E3D;
}
/* FIN ELEMENTS DU MENU */

/* DEBUT SOUS-ELEMENTS DU MENU*/
.nav ul a
{
  display: block;
  text-align: center;
  white-space: nowrap;
  height: 26px;
  width: 180px;
  overflow: hidden;
  line-height: 26px;
  background-image: url('../../theme/nav/subitem.png');
  background-position: left top;
  background-repeat: repeat-x;
  border-width: 1px;
  border-style: solid;
  border-color: #6C6873;
}

.menu ul.nav ul span, .menu ul.nav ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.nav ul a, .nav ul a:link, .nav ul a:visited, .nav ul a:hover, .nav ul a:active, .menu ul.nav ul span, .menu ul.nav ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 26px;
  color: #323035;
  font-size: 12px;
  margin:0;
  padding:0;
}

.nav ul li a:hover
{
  color: #FFFFFF;
  border-color: #6C6873;
  background-position: 0 -26px;
}

.nav ul li:hover>a
{
  color: #FFFFFF;
  border-color: #6C6873;
  background-position: 0 -26px;
}

.menu .nav ul li a:hover span, .menu .nav ul li a:hover span span
{
  color: #FFFFFF;
}

.menu .nav ul li:hover>a span, .menu .nav ul li:hover>a span span
{
  color: #FFFFFF;
}
/* FIN SOUS-ELEMENTS DU MENU*/

/* DEBUT MENU DROITE */
.menu-droite
{
    background: #333;
	list-style: none;
	padding: 0;
	margin: 10px 10px 10px 10px;
	text-align:left;
}

.menu-droite ul
{
	margin:0;
	padding:0;
}

.menu-droite a
{
	background: #333;
	color: white;
	display: block;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	font-weight:normal;
}

.menu-droite a:hover 
{
	background: #941313;
	color: #fff;
	padding-bottom: 8px;
}

.menu-droite span
{
	background-image:url('../../theme/nav/puce_menu.png');
	background-repeat: no-repeat;
	background-position:left center;
	padding:0 0 0 20px;
}

.menu-droite .active
{
	background:#787777;
	color: #fff;
	padding-bottom: 8px;
}
/* FIN MENU DROITE */

/* DEBUT BLOC DROIT */
.sous-bloc-droite
{
	margin: 15px 10px 10px 10px;
	padding:0;
}

.sous-bloc-droite .sous-bloc-droite-contenu
{
	border: 1px solid #D8D7D7;
	padding: 5px 8px 5px 8px;
	margin: 8px 0 0 0;
	text-align: left;
}
/* FIN BLOC DROIT */

/* DEBUT BLOC CENTRAL */
#corps {
	background-color:rgba(250,250,250,0.7);
	padding:0 auto;
    text-align: left;
	width: 100%;
}

.bloc-central
{
  width: 100%;
  background-color: Transparent;
  margin: 0 auto;
  padding:15px;
  position:relative;
  vertical-align:top;
}

.bloc-droite
{
	width:200px;
	height:100%;
	background-color: White;
	vertical-align:top;
}

.bloc-droite-contenu
{
	width:200px;
	height:100%;
	text-align:center;
}

.bloc-central ul li
{
  line-height: 125%;    
  color: #727472;

  padding: 0 0 0 13px;
  background-image: url('../../theme/nav/blockcontentbullets.png');
  background-repeat: no-repeat;
}
.bloc-central ul>li
{
  background-image: url('../../theme/nav/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 16px;/* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}
/* FIN BLOC CENTRAL */

/* DEBUT PAGE DEFAUT */
.table-defaut-haut
{
	width:100%;
	text-align:left;
}

.table-defaut-bas
{
	width:50%;
	text-align:left;
	vertical-align:top;
}

.defaut-haut
{
	padding:0;
	width:100%;
	margin-bottom:10px;
}

.defaut-gauche
{
	padding:0;
	width:100%;
	height:100%;
	vertical-align:top;
}

.defaut-droite
{
	border: 1px solid #D8D7D7;
    margin: 10px 10px 10px 50px;
    overflow: auto;
    padding: 0px 6px 6px 30px;
	background-color:#E9E9E9;
	vertical-align:top;
}
/* FIN PAGE DEFAUT */

/* DEBUT PAGE ARTICLE/NEWS */
#article
{
	padding:10px 0px 20px 15px;
}

#article h2
{
	margin:0;
	padding:0;
	color: #F11D20;
    font-size: 24px; 
}

#article h2 a
{
    text-align: left;
    text-decoration: none;
	color: #F11D20;
    font-size: 24px; 
}

#article h2 a:hover, h2 a.hovered
{
    color: #9D1111;	
}

#article .date
{
	color: #6F716F;
}

#article .texte
{
	margin:20px 0 0 10px;
}
/* FIN PAGE ARTICLE/NEWS */

#login {
	position: relative;
	float:left;
	margin-top:4px;
	margin-left:5px;
	font-size:11px;
}

#login #titre_login {
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

#login #input {
	background-color:#f5f5f5;
	border-color:#000000;
	border-width:1px;
	margin-top:3px;
}

#inscription p {
	margin:0px;
}

/* DEBUT FOOTER */
.footer
{
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
  padding: 5px 0 5px 0;
  background-color:#EFEFEF;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

.footer,
.footer a,
.footer a:link,
.footer a:visited,
.footer a:hover
{
    color: #888B88;
    font-size: 11px;
	text-decoration: none;
}

#footer-space
{
	height:10px;
}
/* FIN FOOTER */